{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
   {# {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}#}
<h1> Inscription des insectes à la plate-forme</h1>

<table>
    <tr>
        <td>Email  </td>
        <td> {{ form_widget(form.email) }}</td>

    </tr>


    <tr>
        <td>Login  </td>
        <td> {{ form_widget(form.username) }}</td>

    </tr>


    <tr>
        <td>Mot De Passe  </td>
        <td> {{ form_widget(form.plainPassword.first) }}</td>

    </tr>


    <tr>
        <td>Resaisir Mot De Passe  </td>
        <td> {{ form_widget(form.plainPassword.second) }}</td>

    </tr>

    <tr>
        <td>Age  </td>
        <td> {{ form_widget(form.age) }}</td>

    </tr>

    <tr>
        <td>Race</td>
        <td>{{ form_widget(form.race) }} </td>

    </tr>

    <tr>
        <td>Famille</td>
        <td>{{ form_widget(form.famille) }} </td>

    </tr>

    <tr>
        <td>Nourriture</td>
        <td>{{ form_widget(form.nourriture) }} </td>

    </tr>

    <tr>
        <td><input type="submit" value="{{ 'registration.submit'|trans }}" />   </td>
    </tr>

</table>

{{ form_end(form) }}
